<footer class="footer">
    <div class="container">
        <div class="d-flex justify-content-space-between mb-8 mb-sm-6">
            <div class="footer-info">
                <ul class="menu mb-9">
                    <li><a class="pr-6 py-4" href="#">首頁</a></li>
                    <li><a class="px-6 py-4" href="#">系列鏡框</a></li>
                    <li><a class="px-6 py-4" href="#">門市據點</a></li>
                    <li><a class="px-6 py-4" href="#">部落格</a></li>
                    <li><a class="px-6 py-4" href="#">常見問題</a></li>
                </ul>
                <a class="fs-3 fs-sm-3 d-flex align-items-center" href="tel:+"><span
                        class="material-icons-outlined mr-4 mr-sm-2">
                        call
                    </span> 0800-000-000</a>
                <a class="fs-3 fs-sm-3 d-flex align-items-center" href="mailto:"><span
                        class="material-icons-outlined mr-4 mr-sm-2">
                        mail
                    </span>
                    glasses@business.com</a>
            </div>
            <ul class="social-list">
                <li class="social-list-item"><a href="http://"><img src="../assets/images/ic-social-fb.png"
                            alt="fb"></a></li>
                <li class="social-list-item"><a href="http://"><img src="../assets/images/ic-social-ig.png"
                            alt="ig"></a></li>
                <li class="social-list-item"><a href="http://"><img src="../assets/images/ic-social-line.png"
                            alt="line"></a>
                </li>
            </ul>
        </div>
        <hr class="line-through mb-8 mb-sm-4">
        <div class="copyright-section">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="rule-list">
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</footer>