<header class="header">
    <div class="header-content container-fluid">
        <a href="index.html"><img class="logo" src="../assets/images/logo-white.png" alt="logo"></a>
        <ul class="menu d-flex">
            <li><a class="px-8" href="#">系列鏡框</a></li>
            <li><a class="px-8" href="#">門市據點</a></li>
            <li><a class="px-8" href="#">部落格</a></li>
            <li><a class="pl-8" href="question.html">常見問題</a></li>
        </ul>
    </div>
</header>