
.banner {
  background-image: url(../../assets/images/home-header.png);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
  .banner-content {
      height: calc(100vh - 80px);
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }
  .banner-info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }
  @include mobile {
    background-image: url(../../assets/images/home-header-sm.png);
  }
}

.service {
  background: #FBF2F2;
  padding: 80px 0;
  .card-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .card-item {
          width: calc(25% - 18px);
          display: flex;
          flex-direction: column;
          align-items: center;
          .card-item-icon {
              width: 100px;
              height: 100px;
          }
          @include pad {
            width: calc(50% - 12px);
          }
          @include mobile {
            width: 100%;
              h3 {
                  font-size: 24px;
              }
          }
      }
  }
}

.classic {
  padding: 80px 0;
  .options {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .option-item {
          width: calc(33.3333% - 16px);
      }
  }
  @include pad {
    .options {
      justify-content: center;
      .option-item {
          width: 51%;
          margin-bottom: 24px;
      }
    }
  }
  @include mobile {
    .options {
      .option-item {
          width: 100%;
      }
    }
  }
}

.co-branded {
  background-image: url(../assets/images/index-bg.png);
  background-size: cover;
  padding: 80px 0;
  .frame-list {
      display: flex;
      flex-wrap: wrap;
      .item {
          width: 50%;
          h2 {
              background: #ffffff;
          }
      }
  }
  @include pad {
    background-image: url(../assets/images/index-bg-md.png);
      .frame-list {
          .item {
              width: 100%;
              margin-bottom: 24px;
          }
      }
  }
  @include mobile {
    background-image: url(../assets/images/index-bg-sm.png);
  }
}

.customer-recommend {
  padding: 80px 0;
  .card-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .card-item {
          width: calc(25% - 18px);
      }
      .card-info {
          height: 205px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 16px;
          box-shadow: 0px 2px 6px #00000029;
          border: 1px solid #DEE2E6;
      }
  }
  @include pad {
    .card-list {
      .card-item {
          width: calc(50% - 12px);
          margin-bottom: 24px;
      }
    }
  }
  @include mobile {
    .card-list {
      .card-item {
          width: 100%;
          margin-bottom: 16px;
      }
    }
  }
}

.contact {
  background: #FBF2F2;
  padding: 80px 0;
  .form {
      width: 50%;
      margin: 0 auto;
      .form-input {
          padding: 6px 12px;
          width: 100%;
          background: #FBF2F2;
          border: 1px solid #000000;
      }
      textarea {
          padding: 6px 12px;
          width: 100%;
          background: #FBF2F2;
          border: 1px solid #000000;
      }
      .checkbox-input {
          border: 1px solid #000000;
      }
      .btn {
          display: block;
          width: 66%;
          margin: 0 auto;
          padding: 16px 0px;
      }
  }
  @include pad {
    .form {
      width: 83%;
    }
  }
  @include mobile {
    .form {
      width: 100%;
      .btn { 
          width: 100%;
      }
    }
  }
}

